
<div class="column col-12 text-left mt-16">
  <p>This project looks at the problem of simplifying the experience of creating and maintaining K8s NetworkPolicies for zero-trust environments. Recognizing how hard it is for users to create and manage K8s NetworkPolicies to enable just the right amount of connectivity (not more or less), we propose a solution to automating the generation of NetworkPolicies without having to run the applications’ code. Our solution can be integrated into the application’s CI/CD pipeline, ensuring NetworkPolicies get updated whenever the required cluster connectivity changes. The overall flow of the solution is presented below.</p>
	<p align="center"><img src="https://np-guard.github.io/flow.png" width="80%" /></p>
	<p>The flow consists of two stages:</p>
<ul>
    <li><b>Automatic synthesis stage</b> - Analyzes application configuration files and takes into account existing network configuration, actual cluster traffic and baseline requirements. Proposes an updated network connectivity restrictions in the form of NetworkPolicy resources.</li>
    <li><b>Review and modify stage</b> - The proposed network connectivity is presented to the DevOps persons for their review. The presentation can be graphic, a concise textual report, or simply the actual NetworkPolicy YAML files. The presentation also includes a semantic diff of connectivity changes from the currently-deployed configuration. Users can make changes to the proposed connectivity, and these changes are then checked against baseline requirements. Only approved changes get deployed to the live cluster.</li>
</ul>
<p>Our <a href="https://github.com/np-guard" target="blank">GitHub Org</a> contains the source code for all components in the above flow (shown as elipsses). In particular it contains the following repos.</p>
<ul>
    <li><a href="https://github.com/np-guard/cluster-topology-analyzer" target="blank">cluster-topology-analyzer</a> - Scans a GitHub repo and extracts required network links from configuration files.</li>
    <li><a href="https://github.com/np-guard/netpol-synthesizer" target="blank">netpol-synthesizer</a> - Synthesizes a set of K8s NetworkPolicies from the list of required network links and a set of baseline requirements.</li>
    <li><a href="https://github.com/np-guard/network-config-analyzer" target="blank">network-config-analyzer</a> - Allows showing synthesized connectivity as a set of firewall rules. Can also produce connectivity diff between two network configurations.</li>
    <li><a href="https://github.com/np-guard/baseline-rules-verifier" target="blank">baseline-rules-verifier</a> - Checks whether synthesized connectivity satisifies a set of baseline requirements.</li>
    <li><a href="https://github.com/np-guard/baseline-rules" target="blank">baseline-rules</a> - Contains several examples for baseline requirements.</li>
</ul>
<p>Check <a href="https://np-guard.github.io/ci-integration.html" target="blank">CI Integration</a> to learn how to integrate the above components into a CI/CD pipeline.</p>
</div>
<div class="column col-4 col-sm-12 p-8 mb-8 col-mx-auto">
  <h5>{{ site.help_one_title }}</h5>
  <p>{{ site.help_one_content }}</p>
  <a href="{{ site.help_one_link }}">{{ site.help_one_button }} <i class='uil uil-arrow-right arrow-hover'></i></a>
</div>
{% endif %}
{% if site.help_two_title == null %}
{% else %}
<div class="column col-4 col-sm-12 p-8 mb-8 col-mx-auto">
  <h5>{{ site.help_two_title }}</h5>
  <p>{{ site.help_two_content }}</p>
  <a href="{{ site.help_two_link }}" target="_blank">{{ site.help_two_button}} <i class='uil uil-arrow-right arrow-hover'></i></a>
</div>

